.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  flex-direction:column;
  gap:16px;
  
}
.Terrain {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  border: 2px solid black;
  border-radius: 5px;
  
}
.case{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  cursor: pointer;
  box-shadow:0px 0px 5px 1px;
  
  background:linear-gradient(90deg, white, grey, white);
  
}
.reponse{
  display:block;
  height:50px;
  width:300px;
  text-align:center;
  font-family:impact;
  font-size:25px;
  box-shadow:0px 0px 5px 1px;
  border-radius: 5px;
  background:linear-gradient(to right, white, grey);
}