* {
    box-sizing: border-box;
}
html{
    font-size:62.5%;
}
body{
    margin:0px;
    font-size:16px;
}
/**************** HEADER **************/
.header{
    background-color:lightgreen;
    position:fixed;
    text-align:center;
    width:100%;
    border:2px solid grey;

}
.nav-bar menu{
    display:inline-block;
    background-color:green;
    padding:1em;
    list-style-type:none;
    color:white;
    border: solid 1px black;
    margin:0;
}
.nav-bar menu li{
    display:block;
    
    
}
.nav-bar a{
    text-decoration:none;
    display:block;
    color:white;
    padding:1em;
    margin:0;
    text-align:center;
    
}
.nav-bar a:hover{
    background-color:lightgreen;
    color:white;
    border-bottom:1px solid grey;
    
}
.sous-menu{
    display:none;
    text-align:center;
    margin:0;
    padding:0;
    position:fixed;
    background-color:green;
    border:2px solid green;
    
}
nav ul::after{
    content:"";
    display:table;
    clear:both;
}
.nav-bar>menu li:hover .sous-menu{
    display:block;
}

