* {
    box-sizing: border-box;
}
html{
    font-size:62.5%;
}
body{
    margin:0px;
    font-size:16px;
}

.box{
    border:2px solid orange;
    background-color:wheat;
}
.box{
    width:25%;
}
/************** Tout sur une ligne ***************/
/************* disposition horizontal **************/
.flex{
    display:flex;
    flex-direction:row;
}
/******** pour le responsive Permet de déplacer selon la taille d'écran ************/
.flex {
    /*column-gap:2em;*/
    flex-wrap:wrap;
    height:50vh;
    /*row-gap:2em;*/
    gap:2em; /***Column + row gap******/
}
/****** Taille de la boite ******/

/*Alignement horizontal*/
.flex{
    justify-content:center;
    /* Flex-start (gauche) / flex-end (droite) /space around(meme taille)
    space-between(meme espace entre boite) / space-evenly (meme espace bordure)
    center ( tout au milieu) */
}
/*Alignement vertical*/
.flex{
    align-items:stretch;
    /*Flex-start(tout en haut)/flex-end(tout en bas)/center ( milieu)
    stretch(rempli tout l'espace)*/
}