* {
    box-sizing: border-box;
}
html{
    font-size:62.5%;
}
body{
    margin:0px;
    font-size:16px;
}
/**************** HEADER **************/
.header{
    margin:0;
    top:0;
    background-color:darkgrey;
    position:fixed;
    width:100%;
    border:2px solid grey;
}
.nav-bar img{
    width:75%;
}
.nav-bar{
    display:grid;   
    gap: 16px;
    grid-template-rows:repeat(2,3rem);
    grid-template-columns:repeat(25, 100px);
}
.box1{
    grid-row-start:1;
    grid-row-end:2;
    grid-column-start:1;
    grid-column-end:2;
}
.box2{
    grid-row-start:1;
    grid-row-end:2;
    grid-column-start:2;
    grid-column-end:3;
}
.box3{
    grid-row-start:1;
    grid-row-end:2;
    grid-column-start:21;
    grid-column-end:22;
}
.box4{
    grid-row-start:1;
    grid-row-end:2;
    grid-column-start:22;
    grid-column-end:23;
}
.box5{
    grid-row-start:1;
    grid-row-end:2;
    grid-column-start:23;
    grid-column-end:24;
}
.box6{
    grid-row-start:1;
    grid-row-end:2;
    grid-column-start:24;
    grid-column-end:25;
}
/************************************BODY*************************************/
.main{

}

/*********************************** FOOTER **********************************/
.footer{
    background-color:black;
    padding:1em;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    color:white;
    text-align:center;
}
