
body {
    margin:16px;
}

.box{
    border:2px solid orange;
    background-color:wheat;
}
.grid {
    display:grid;
    height:50vh;
    gap:1em;
}
/*1 ligne 1colonne*/
.grid{
    grid-template-rows:50px;
    grid-template-columns:100px;
}
/* 2 lignes 2 colonne */
.grid{
    grid-template-rows:50px 50px;
    grid-template-columns:100px 100px;
}
/*FR prend la place de l'espace restant*/
.grid{
    grid-template-rows:50px 50px 1fr;
    grid-template-columns:100px 100px 100px 1fr;
}
/*La Fr prend 2/3 de la place restante*/
.grid{
    grid-template-rows:50px 50px 1fr;
    grid-template-columns:100px 100px 2fr 1fr;
}